<html lang="en" xmlns:th="https://www.thymeleaf.org">
 <head>
  <link rel="stylesheet" type="text/css" media="all"
 href="../static/css/css.css"
 th:href="@{/css/css.css}" />
 </head>
<body id="bo">
<center>
<h1>Edit Books</h1></br></br>
<form action="/Hmodify" method="get"><br><br>
 Title:<input type="text" name="title" th:value="${hm.title}"><br><br>
Author<input type="text" name="author" th:value="${hm.author}"><br><br>
Price:<input type="text" name="price" th:value="${hm.price}"><br><br>
Qty:<input type="text" name="qty" th:value="${hm.qty}"><br><br>
Related Courses:<input type="text" name="relatedCourses" th:value="${hm.relatedCourses}"><br><br><br>
<br>
<input type="hidden" name="id" th:value="${hm.id}"/><br>
<input type="submit"  value="submit"/>
</div>
</form>
<br><br>

<a href="/view">View Books</a></br>
<a href="/">Home Page</a>
</center>
</body>