<!DOCTYPE html>
<html>
<head>
 <link rel="stylesheet" type="text/css" media="all" href="../static/css/css.css" th:href="@{/css/css.css}"/>
<meta charset="ISO-8859-1">
<title>Sheridan Library</title>
<style>
#d
{
border:2px solid white;
width:21%;
background-color:DarkCyan;
box-shadow: 5px 10px 18px grey;
border-radius: 14px;
}
#b
{
background-color:green;
border:none;
padding:10px;
display:inline-block;
cursor:pointer;
font-size:16px;
border-radius: 12px;
}
</style>
</head>
<body id="i">
	<CENTER>
	<h1 id="h">SHERIDAN COLLEGE LIBRARY</h1>
	</br></br></br>
	<div id="d">
	<h2 style="color:white;">Choose The Library</h2><hr></br></br>
	<button id="b"><a href="/davis" style="color:white">DAVIS CAMPUS</a></button></br></br>
	<button id="b"><a href="/hmc" style="color:white">HMC</a></button></br></br>
	<button id="b"><a href="/trafalgar" style="color:white">TRAFALGAR</a></button></br></br>
	</br></br>
	</div>
	</CENTER>
</body>
</html>